* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* nav bar  Section */

.navbar {
    /* background-color: blue; */
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* gap: 80px; */
}

.first-portion {
    /* padding-right: 80px; */
    margin-top: 10px;
    height: 50px;
    display: inline-flex;
}

.second-portion {
    gap: 40px;
}

.list {
    display: flex;
    gap: 80px;
    margin-top: 40px;
    list-style-type: none;
    
}

.post-job {
    color: blue;
}
.post-job:hover {
    color: blueviolet;
} 

.list1 {
    color: var(--neutral700);
    /* font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; */
    text-decoration: none;
}

.search-icon {
 margin-top: 20px;
 margin-left: 40px;   
}

.remote-Btn {
    /* justify-content: end; */
}

/* heroSection */

.heroSection {
    background-color: blue;
    width: 100%;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .heroSec2 {
    background-size: cover;
    margin-left: 50px;

 }


 /* 3rd Section  */

 .team {
   width: 100%;
   height: 100px;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 samp {
    color: blue;
 }
 
 .teamDev {
    width: 75%;
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    /* justify-items: center; */
    gap: 80px;   
    /* background-color: blue; */
    margin-left: 200px;
 }


#child img {
    width: 100%;
    height: 200%;
}


#child {
    border-radius: 50%;
    overflow: hidden;
    
 }
 
/* 4th Section */

 #pappa {
   margin-top: 50px;
    height: 800px;
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 10px;
 }

#pappa :hover {
    gap: 10px;
}

 .bachay {
    border-radius: 10px;
    overflow: hidden;
 }

 .bachay :hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
 }
  .bachay img {
    width: 100%;
    height: 100%;
  }

 #one {
    grid-column-start: 1 / span 3 !important;
    grid-row-start: 4 / span 4 !important;
  }

  #two {
    grid-row-start: 2 / span 3 !important;
    grid-column-start: 4 / span 2 !important;
  }

  #three {
    grid-row-start: 1  / span 4 !important;
    grid-column-start: 6 / span 5 !important;
  }

  #four {
    grid-row-start: 7  / span 3 !important;
    grid-column-start: 1 / span 3 !important;
  }

  #five {
    grid-row-start: 5 / span 5 !important;
    grid-column-start: 4 / span 4 !important;
  } 

  #six {
    grid-row-start: 5 / span 2 !important;
    grid-column-start: 8 / span 4 !important;
  }

  #seven {
    grid-row-start: 7 / span 5 !important;
    grid-column-start: 8 / span 4 !important;
  }

  #eight {
    grid-row-start: 10 / span 4 !important;
    grid-column-start: 2 / span 4 !important;
  }

  #nine {
    grid-row-start: 10 / span 4 !important;
    grid-column-start: 6 / span 2 !important;
  }


._footerWrapper_1wtsn_297 {
    position: relative;
    background: linear-gradient(180deg, #4d3bdb 0%, #9747ff 100%);
    width: 100%;
    padding: 80px 50px;
    color: white;


    /* media query for responsiveness */

 @media screen and (max-width: 768px) { 
     body {grid-template-columns: repeat(4, minmax(0, 1fr));
 }
}
 @media screen and (max-width: 640px) { 
    body {
    flex-direction: column;
    } 
 }
